# Copyright (C) DATADVANCE, 2010-2020
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# We use Poetry to manage the Python project:
# https://python-poetry.org/docs/
#
# File format description on the Poetry site:
# https://python-poetry.org/docs/pyproject/
#
# Version specification documentation:
# https://python-poetry.org/docs/versions/
#
# File format is STANDARDIZED in the PEP 518:
# https://www.python.org/dev/peps/pep-0518/


[tool.poetry]
name = "django-channels-graphql-ws"
version = "0.4.2"
description = """Django Channels based WebSocket GraphQL server with \
                 Graphene-like subscriptions"""
authors = ["Alexander A. Prokhorov <alexander.prokhorov@datadvance.net>"]
homepage = "https://github.com/datadvance/DjangoChannelsGraphqlWs"
repository = "https://github.com/datadvance/DjangoChannelsGraphqlWs"
license = "MIT"
packages = [
    { include = "channels_graphql_ws/" },
]


[tool.poetry.dependencies]
python = "^3.7.0"
aiohttp = "^3.5"
asgiref = "^3.2"
channels = "^2.2"
django = "^2.2"
graphene = "^2.1"
graphql-core = "^2.2"
msgpack = "^0.6.1"


[tool.poetry.dev-dependencies]
bandit = "*"
black = { version = "*", allow-prereleases = true }
channels-redis = "*"
coverage = "*"
graphene-django = "*"
ipython = "*"
isort = {version = "*", extras = ["pyproject"]}
mypy = "*"
plumbum = "*"
pre-commit = "*"
pydocstyle = "*"
pyenchant = {version = "*", platform = "darwin||linux"}
pylint = "*"
pylint-django = "*"
pylint-quotes = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-pythonpath = "*"
pytest-xdist = "*"


[tool.isort]
# Isort configuration.
# https://github.com/timothycrosley/isort/wiki/isort-Settings
# NOTE: Isort treats paths relative to the current working directory,
# so if you run it not from the directory `venv` resides it will not be
# able to properly detect thirdparty modules. Here is the bug report:
# https://github.com/timothycrosley/isort/issues/659
# Current workaround is to provide `--virtual-env` from the command
# line.
# Tune Isort to correspond to the Black style guide:
# https://black.readthedocs.io/en/stable/the_black_code_style.html
balanced_wrapping = "True"
combine_as_imports = "True"
default_section = "FIRSTPARTY"
force_grid_wrap = 0
force_sort_within_sections = "True"
force_to_top = "True"
include_trailing_comma = "True"
line_length = 88
lines_after_imports = 2
multi_line_output = 3
not_skip = "__init__.py"
skip_glob = [".venv"]
use_parentheses = "True"
virtual_env = "./.venv/"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
