# Copyright (c) 2018 DATADVANCE
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
# CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
# SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# We use Poetry to manage the Python project:
# https://poetry.eustace.io/docs/
#
# File format description on the Poetry site:
# https://poetry.eustace.io/docs/pyproject/
#
# Version specification documentation:
# https://poetry.eustace.io/docs/versions/
#
# File format is STANDARDIZED in the PEP 518:
# https://www.python.org/dev/peps/pep-0518/

[tool.poetry]
name = "django-channels-graphql-ws"
version = "0.1.10"
description = """Django Channels based WebSocket GraphQL server with \
                 Graphene-like subscriptions"""
authors = ["Alexander A. Prokhorov <alexander.prokhorov@datadvance.net>"]
homepage = "https://github.com/datadvance/DjangoChannelsGraphqlWs"
repository = "https://github.com/datadvance/DjangoChannelsGraphqlWs"
license = "MIT"
packages = [
    { include = "channels_graphql_ws/" },
]

[tool.poetry.dependencies]
asgiref = "^2.3"
channels = "^2.1"
django = "^2.0"
graphene = "^2.1"
graphene_django = "^2.0"
graphql-core = "^2.0"
msgpack = "^0.5.6"
namedlist = "^1.7"
python = "^3.7.0"
rx = "^1.6"

[tool.poetry.dev-dependencies]
black = "^18.3-alpha.0"
channels-redis = "^2.2"
coverage = "^4.5"
isort = "^4.3"
pre-commit = "^1.10"
pylint = "^2.0"
pylint-django = "^2.0"
pylint-quotes = "^0.1.9"
pytest = "^3.7.1"
pytest-asyncio = "^0.9.0"
pytest-cov = "^2.5"
pytest-django = "^3.3"
pytest-env = "^0.6.2"
pytest-pythonpath = "^0.7.2"

[tool.black]
py36 = true
